@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');





*{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-family: 'Montserrat', sans-serif;
}



.page-req{
    height: 100vh;
    width: 100vw;
}
.left{
    float: left;
    height: 100%;
    width: 50%;
    background-color: #F6F4F3;
    border-radius: 10px;
}
.right{
    float: right;
    height: 100%;
    width: 50%;
    background-color: #276FBF;
}
.left-h1{
    font-size: 4vw;
    margin-right: 5%;
    margin-left: 3%;
}
.left-h3{
    font-size: 1.3vw;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 3%;
}
.left-p{
    margin-right: 5%;
    margin-left: 5%;
    font-size: 0.7vw;
}
button{
    height: 7vw;
    width: 12vw;
    background-color: #F6F4F3;
    border-radius: 10px;
    transition: ease-in-out 100ms;
    font-size: 0.5vw;
}
button:hover{
    height: 7.5vw;
    width: 12.5vw;
    background-color: #AF5B5B;
}
.grid{
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(3, 13vw);
    grid-template-rows: repeat(3, 8vw);
}
a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}
.centering{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
hr{
    margin-left: 5%;
    margin-right: 5%;
}
a:hover{
    color: blue
}
button a:hover{
    color: black
}
@media only screen and (max-width: 600px) {
    .right{
        height: 50%;
        width: 100%;
        background-color: #276FBF;
    }
    .left{
        height: 50%;
        width: 100%;
        background-color: #F6F4F3;
        border-radius: 10px;
    }
    .left-h1{
        font-size: 8vw;
        margin-right: 5%;
        margin-left: 3%;
    }
    .left-h3{
        font-size: 2.3vw;
        margin-bottom: 5%;
        margin-top: 5%;
        margin-right: 5%;
        margin-left: 3%;
    }
    .left-p{
        margin-right: 5%;
        margin-left: 5%;
        font-size: 1.4vw;
    }
    .grid{
        display: grid;
        grid-gap: 1px;
        grid-template-columns: repeat(3, 25vw);
        grid-template-rows: repeat(3, 15vw);
    }
    button{
        height: 10vw;
        width: 17vw;
        background-color: #F6F4F3;
        border-radius: 10px;
        transition: ease-in-out 100ms;
        font-size: 0.5vw;
    }
    button:hover{
        height: 7.5vw;
        width: 12.5vw;
        background-color: #AF5B5B;
    }
  }